<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ritashugisha.luxinate</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>09F038D6-6D2A-46A6-BDA2-F2C34C8758B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E79D60D-ABB2-4A76-9E46-6F69DF06168E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2114FCF1-CF58-483F-89D8-C0259172C566</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE94ED80-9BA0-4EBC-9DA9-311D77AA2FBB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F3FC9BEB-ED37-4C41-93E5-399BFEFFB117</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED0257AF-08D0-48BE-8E09-4F5A795E1079</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ritashugisha</string>
	<key>description</key>
	<string>Alfred.v2 streamed media downloader</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Luxinate</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>luxinate ►</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>from luxinate import Client
print Client().default("{query}")</string>
				<key>subtext</key>
				<string>Download media from "{query}"</string>
				<key>title</key>
				<string>Luxinate</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2114FCF1-CF58-483F-89D8-C0259172C566</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from luxinate import Client
Client().handle({query})</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DE94ED80-9BA0-4EBC-9DA9-311D77AA2FBB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>luxsettings</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>from luxinate import Client
print Client().settings()</string>
				<key>subtext</key>
				<string>Modify Luxinate's settings</string>
				<key>title</key>
				<string>Luxinate Settings</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>09F038D6-6D2A-46A6-BDA2-F2C34C8758B5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from luxinate import Client, Settings
Client();Settings().handler({query})</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3E79D60D-ABB2-4A76-9E46-6F69DF06168E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from luxinate import Client, History
Client();History().handler({query})</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ED0257AF-08D0-48BE-8E09-4F5A795E1079</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>luxhistory ►</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>from luxinate import Client
print Client().history("{query}")</string>
				<key>subtext</key>
				<string>View previous downloads</string>
				<key>title</key>
				<string>Luxinate History</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F3FC9BEB-ED37-4C41-93E5-399BFEFFB117</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>09F038D6-6D2A-46A6-BDA2-F2C34C8758B5</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>2114FCF1-CF58-483F-89D8-C0259172C566</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>3E79D60D-ABB2-4A76-9E46-6F69DF06168E</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>DE94ED80-9BA0-4EBC-9DA9-311D77AA2FBB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>ED0257AF-08D0-48BE-8E09-4F5A795E1079</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>F3FC9BEB-ED37-4C41-93E5-399BFEFFB117</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.ritashugisha.com</string>
</dict>
</plist>
